.movies{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.movie {
  max-width: 800px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.movie__film-poster {
  flex: 0 0 25%;
}

.movie__img {
  width: 100%;
  display: block;
}

.movie__content {
  background-color: #fff;
  flex: 1;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
}

.movie__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.movie__price {
  background:linear-gradient(to bottom, #A9C9FF 0%, #FFBBEC 100%);
  flex: 0 0 50px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie__title {
  font-size: 16px;
  margin-right: auto;
  color: royalblue;
}

.fa-fire {
  color: salmon;
}

.movie__tag {
  font-size: 10px;
  color: #fff;
  padding: 2px 7px;
  border-radius: 100px;
  margin-right: 8px;
  display: block;
  text-transform: uppercase;
}

.movie__tag--1 {
  background-color: #A9C9FF;
}

.movie__tag--2 {
  background-color:#FFBBEC;
}

.favorite{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-size: 100%;
}

img.active {
  content: url("../../img/star-active.png");
}

img.inactive {
  content: url("../../img/star-inactive.png");
}

.movie__description {
  font-size: 14px;
}