.header {
  display: flex;
  flex: 1 1;
  padding: 35px 30px;
}

.search__container {
padding-right: 50px;;
}

.search {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  width: 300px;
}

.icon{
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  background-size: 100%;
}

img.star {
  content: url("../../img/star-active.png");
}

img.watch-later {
  content: url("../../img/bookmark-active.png");
}